@import url(typography.css);


body {
    margin: 0;
    background-color: #81D8D0;
    color: white;

}



.big-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 50px 1fr min-content min-content 50px;
    grid-template-areas: 
        "hd hd"
        "nav nav"
        "bio bio"
        "share shsare"
        "ft ft";
}